
	<div ng-controller="EventController" style="padding: 0 20px;">
		<img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
		<button class="btn" ng-click="reload()">Reload</button>
		<button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
		<div ng-non-bindable>{{2+3}}</div>
		<div class="row">
			<div class="span12">
				<h2 ng-class="myClass" ng-bind-template="{{event.name | uppercase}} {{event.date}}"></h2>
			</div>
		</div>

		<button class="btn" ng-disabled="buttonDisabled">Disabled</button>

		<div ng-bind-html="snippet">Some title</div>
		<h2 ng-show="boolValue">Show this</h2>
		<h2 ng-hide="boolValue">Hide this</h2>
		<div class="row">
			<div class="span3">
				<div><strong>Date:</strong> {{event.date | date:'mediumDate' }}</div>
				<div><strong>Time:</strong> {{event.time}}</div>
				<div><strong>Price:</strong> {{ 444 | currency }}</div>
			</div>
			<div class="span4">
				<address>
					<strong>Address:</strong><br />
					{{event.location.address}}<br />
					{{event.location.city}}, {{event.location.province}}
				</address>
			</div>
		</div>

		<div>{{ 3.141592 | number: 3 }} {{ 3 | number: 2 }}</div>
		<div>{{ { a:3, b:'hi', c:{aa: 35} } | json }}</div>

		<hr />

		<h3>Sessions</h3>
		Order by:
		<select ng-model="sortorder" class="input-small">
			<option selected value="name">Name</option>
			<option value="-upVoteCount">Votes</option>
		</select>
		Show:
		<select ng-model="query.level" class="input-medium">
			<option selected value="all">All</option>
			<option selected value="introductory">Introductory</option>
			<option selected value="intermediate">Intermediate</option>
			<option selected value="advanced">Advanced</option>
		</select>
		<ul class="thumbnails">
			<li ng-repeat="session in event.sessions | orderBy:sortorder | limitTo: 3 | filter: query" class="span11" id="session{{session.id}}">

				<div class="row sessions">
					<div class="span0 well votingWidget">
						<div class="votingButton" ng-click="upVoteSession(session)">
							<i class="icon-chevron-up icon-white"></i>
						</div>
						<div class="badge badge-inverse">
							<div>{{session.upVoteCount}}</div>
						</div>
						<div class="votingButton" ng-click="downVoteSession(session)">
							<i class="icon-chevron-down icon-white"></i>
						</div>
					</div>
					<div class="span9 well">
						<h4 class="well-title">{{session.name}}</h4>
						<h6 style="margin-top: -10px">{{session.createrName}}</h6>
						<span>Duration: {{session.duration | durations}}</span><br />
						<span>Level: {{session.level}}</span>
						<p>{{session.abstract}}</p>
					</div>
				</div>

			</li>
		</ul>
	</div>